---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Somos open-source!",
    description:
      "Todos nuestros proyectos y códigos estan disponibles en github.",
    icon: "mdi:github",
  },
  {
    title: "Increíblemente rápido",
    description:
      "Nuestro sitio web no renderiza javascript, haciendo la experiencia lo mejor posible!",
    icon: "mdi:feather",
  },
  /*{
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page. If the user never sees it, they never load it.",
    icon: "mdi:directions-fork",
  },
  */
  {
    title: "Multiples proyectos",
    description:
      "Tenemos varias páginas para todas las necesidades.",
    icon: "mdi:graph",
  },
  /*{
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication.",
    icon: "mdi:search-web",
  },
  */
  {
    title: "Comunidad",
    description:
      "Tenemos un discord en donde hablamos de temas desde juegos hasta programación.",
    icon: "mdi:discord",
  },
];
---

<ContentSection title="Nuestro objetivo" id="features">
  <Fragment slot="lead">
    No Hacemos sitios web <span class="text-primary">programamos.</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
