---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="InfoJuegos" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Somos un grupo de amigos que programan por
    <span class="text-primary">diversión</span>. Haciendo sitios web
    <span class="text-primary"> seguros</span>
    <span class="text-primary">veloces y confiables</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://discord.gg/9aNJpxdwyV"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Nuestro discord</span>
    </a>
    <a
      href="https://ajedrezesp.vercel.app/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Nuestro sitio de ajedrez</span>
    </a>
  </div>
</ContentSection>
